
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(248, 211, 211);
            margin: 0;
            padding: 0;
        }
        div p {
            color: rgb(250, 54, 5);
        }
        div > p {
            font-weight: bold;
        }
        h2 + p {
            text-decoration: underline;
        }
        h2 ~ p {
            font-style: italic;
        }
        * {
            box-sizing: border-box;
        }
        .contenedor {
            width: 90%;
            margin: 20px auto;
            padding: 15px;
            border: 2px solid rgb(156, 142, 189);
        }
        .caja {
            border: 1px solid rgb(216, 58, 58);
            margin: 10px 0;
            padding: 10px;
        }
        .caja-inline {
            display: inline-block;
            padding: 10px;
            margin: 10px;
            border: 1px solid rgb(62, 62, 88);
        }
        nav ul {
            list-style: none;
            padding: 0;
        }
        nav > ul > li {
            background-color: rgb(209, 139, 139);
            padding: 10px;
            margin: 5px 0;
        }
        nav li + li {
            border-top: 1px solid rgb(182, 110, 110);
        }
        nav li a {
            text-decoration: none;
            color: black;
        }
        nav li ul li {
            background-color: rgb(255, 61, 61);
            margin-left: 20px;
            padding: 8px;
        }
        .tarjeta {
            width: 250px;
            border: 1px solid rgb(22, 12, 12);
            padding: 15px;
            margin: 20px;
        }
        .tarjeta img {
            width: 100%;
            border-radius: 5px;
        }
        .tarjeta h3 + p {
            font-weight: bold;
        }

        .tarjeta h3 ~ p {
            color: rgb(61, 14, 14);
        }
